apiVersion: apps/v1
kind: Deployment
metadata:
  name: transactions
  labels:
    app: transactions
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: transactions
  template:
    metadata:
      labels:
        app: transactions
    spec:
      imagePullSecrets:
        - name: ghcr-creds
      containers:
        - name: transactions
          image: ghcr.io/marionqueen/module6-part3-transactions:67676e4fad38779c3c797d7eacef2058b6b0e6eb
          imagePullPolicy: Always
          ports:
            - name: http
              containerPort: 3000
          env:
            - name: MONGO_URI
              value: mongodb://mongo-transactions:27017/transactions_db
          readinessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 8
            periodSeconds: 5
          livenessProbe:
            tcpSocket:
              port: 3000
            initialDelaySeconds: 25
            periodSeconds: 10
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
